//ESTILOS DEL HEADER

//mixins
@mixin menu {
    font-family: var(--primary-font);
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;


}


header {
    width: 100%;
    height: 5.9%;
    border-top: 6px solid blue;
    display: flex;
    //background-color: yellow;
    

    #logo {
        align-items: center;
        position: relative;
        width: 59.1px;
        height: 59.1px;
        margin-left: 10.8%;
        margin-top: 1.5%;
        //background-color: #572EE5;
    }

    
    nav {
        width: 74%;
        position: relative;
        //margin-left: 37.5%;
        //margin-left: 35.5%;
        margin-top: 1.5%;
        display: flex;
        //background-color: brown;
        //justify-content: space-between;
        justify-content: flex-end;

        ul {
            //background-color: #572EE5;
            display: inline-flex;
            justify-content: flex-end;
            padding-top: 5px;
            width: 70%;
            height: 18px;

            li {
                @include menu();
                display: inline-flex;
                margin-right: 50px;



                a {
                    text-decoration: none;
                    color: blue;

                    
                }
            }
        }

        #boton_gifo {
            background-color: yellow;
            
            position: relative;
            display: flex;
            
            width: 54px;
            //width: 30%;
            height: 54px;
            border: none;
            border-radius: 100px;
            background-image: url(/images/button-crear-gifo.svg);
            background-repeat: no-repeat;
            border: none;
            justify-items: flex-end;
            
        }

        #boton_gifo:hover {
            background-image: url(/images/CTA-crear-gifo-hover.svg);
            background-repeat: no-repeat;

            
        }
        
    }


}

#burger{
    width: 0px;
    display: flex;
    margin-top: 15px;
    visibility: visible;
    position: absolute;
    //background-color: #572EE5;
    //position: relative;
    
}

.modoNoc {
    cursor: pointer;
}

.modoDiu {
    cursor: pointer;
}

#logo {
    cursor: pointer;
}

li:hover {
    width: auto;
    border-bottom: 2px solid #5ED7C6;


}



@media screen and (max-width: 600px) {

    #boton_gifo{
        visibility: hidden;
        margin-left: 1px;
        width: 0px;
        
    }

.menu ul{
        visibility: hidden;
        display: flex;
        width: 100%;
        margin: auto;
        

    }
    
    #burger{
        visibility: visible;
        width: 25px;
        display: flex;
        position: relative;
        margin-top: 15px;
        margin-left: -65px;
        //background-color: #572EE5;
        
    }

    .menu{
        width: 100%;
    }   

/*
    header{
        position: absolute;
        z-index: 998;
        width: 100vw;
        height: 100vh;
        background-color: #5ED7C6;
    }

    #fotindex{
        background-color: burlywood;
    }

    nav{
       background-color: white;
        color: #5ED7C6;
        display: flex;
        transform: translateY(65px);
        transform: translateX(-25%);
        width: 100vw;
        height: 300px;
        z-index: 999;
        
        
        
        ul{
            position: absolute;
            margin-top: 80px;
            //background-color: #572EE5;
            width: 450px;
            height: 300px;
            //justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;

        }
        #boton_gifo{
            visibility: hidden;
        }
    
    }
*/
}



@media screen and(max-width:480px) {
    #burger{
        margin-left: -95px;
 
    }
}

@media screen and(max-width:440px) {
    #burger{
        margin-left: -165px;
    }
}

@media screen and(max-width:440px) {
    #burger{
        margin-left: -185px;
    }
}