@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@600&family=Yanone+Kaffeesatz:wght@300&display=swap");
::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-font:'Montserrat', sans-serif;
  --secondary-font:'IBM Plex Sans', sans-serif;
}

header {
  width: 100%;
  height: 5.9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #37383c;
}

header #logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 59.1px;
  height: 59.1px;
  margin-left: 10.8%;
  margin-top: 1.5%;
}

header nav {
  position: relative;
  margin-left: 37.5%;
  margin-top: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 5px;
}

header nav ul li {
  font-family: var(--primary-font);
  font-size: 13px;
  color: white;
  letter-spacing: 0;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 50px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav #boton_gifo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 100px;
  background-image: url(/images/CTA-crear-gifo-modo-noc.svg);
  background-repeat: no-repeat;
  border: none;
}

header nav #boton_gifo:hover {
  background-image: url(/images/CTA-crear-gifo-hover-modo-noc.svg);
  background-repeat: no-repeat;
}

.modoNoc {
  cursor: pointer;
}

#logo {
  cursor: pointer;
}

#fotindex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 7.6%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: white 100%;
  letter-spacing: 0;
  margin-top: 12%;
  background-color: #37383c;
}

#fotindex #redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10.8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 17px;
}

#fotindex #redes p {
  width: 89px;
  height: 15px;
  color: white;
}

#fotindex #redes .redes {
  width: 20px;
  height: 17px;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fotindex #redes .iconFace {
  background-image: url(/images/icon_facebook.svg);
  background-repeat: no-repeat;
  margin-left: 25px;
}

#fotindex #redes .iconFace:hover {
  background-image: url(/images/icon_facebook_noc.svg);
  cursor: pointer;
}

#fotindex #redes .iconTwit {
  background-image: url(/images/icon-twitter.svg);
  background-repeat: no-repeat;
  margin-left: 5px;
}

#fotindex #redes .iconTwit:hover {
  background-image: url(/images/icon_twitter_noc.svg);
  cursor: pointer;
}

#fotindex #redes .iconInst {
  background-image: url(/images/icon_instagram.svg);
  background-repeat: no-repeat;
  margin-left: 13px;
}

#fotindex #redes .iconInst:hover {
  background-image: url(/images/icon_instagram_noc.svg);
  cursor: pointer;
}

#fotindex #copyright {
  font-family: 'Roboto', sans-serif;
  margin-right: 21.5%;
  font-size: 13px;
  color: white;
}
/*# sourceMappingURL=nocturno.css.map */